.exercise-label-container {
  font-size: 18px;
  margin: 0;
}

.exercise-difficulty-label {
  @extend .label;
  @extend .label-default;

  &--1 {
    @extend .label-success;
  }
}

.exercise-bounty-label {
  @extend .label;
  background-color: #656565;

  .fa-star {
    color: $brand-warning;
  }
}